@{
    ViewData["Title"] = "Product Supplier Registration";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Product Supplier Registration </h1>
    <p>Created by Gabriel Andrade.</p>
    <p>Know more about me in my <a href="https://github.com/GabrielAraujoAndrade"> GitHub</a> or in <a href="https://www.linkedin.com/in/gabriel-araujo-andrade/">LinkedIn</a>.</p>
</div>