@{
    ViewData["Title"] = "Material Supplier Registration";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Material Supplier Registration </h1>
    <p>Created by Gabriel Andrade.</p>
    <p>Know more about me in <a href="https://github.com/GabrielAraujoAndrade"> GitHub</a> or in <a href="https://www.linkedin.com/in/gabriel-araujo-andrade/">LinkedIn</a>.</p>
</div>

<div class="d-flex justify-content-center gap-3">
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Material")'">Material</button>
    <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Supplier")'">Supplier</button>
</div>

<footer class="border align-text-top fixed-bottom position-fixed bottom-0>
    <div class="container">
        &copy; 2024 - Material Supplier Registration - Gabriel Araujo Andrade
    </div>
</footer>
